@model EventWebApp.Models.ViewModels.EventVM
@{
    ViewData["Title"] = "Üritus";
    var id = @ViewData["EventIdFromUrl"];
}

<div class="border p-5">
    <div class="row">
        <h2 class="text-black-50 pl-3">Osavõtjad</h2>
    </div>

    <div class="container">

        @foreach (var obj in Model.Events)
        {
            <div>
                <p>Ürituse nimi: @obj.Name</p>
            </div>

            <div>
                <p>Toimumisaeg: @obj.StartDate</p>
            </div>

            <div>
                <p>Koht: @obj.Details</p>
            </div>

        }

        <div>
            <p>Osavõtjad: </p>
        </div>

        <table>
            <tbody>
                @foreach (var attendee in Model.Attendees)
                {
                <tr>

                    <td width="40%">
                        <a asp-controller="Attendee" asp-action="Update" asp-route-Id="@attendee.Id">
                            @attendee.Name @attendee.LastName
                        </a>
                   </td>
                    <td width="40%">@attendee.IdCode</td>
                    <td width="20%">
                        <form asp-controller="Attendee" asp-action="Delete" asp-route-Id="@attendee.Id">
                            <button type="submit" class="btn btn-danger">
                                Kustuta
                            </button>
                        </form>
                    </td>





                </tr>
                }
            </tbody>
        </table>




    </div>
    <div class="form-group row">
        <div>
            <div class="col">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Tagasi avalehele</a>
            </div>
        </div>
    </div>

</div>
